/*Fontes Utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body, input, select, button {
    font-family: 'Prata', serif;
}

.tituloFormulario {
    font-size: 1.2em;
    text-align: center;
}

.formulario-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 80px 50px;
    width: 90%;
    border-radius: 30px;
}
.formulario-container .formulario{
    background-color: #F7F7F7;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1;
}

